{
  "env": {
    "browser": true,
    "commonjs": true
  },
  "extends": [
    "prettier",
    "eslint-config-problems",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "react", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "@typescript-eslint/no-extra-parens": ["error"],
    "react/jsx-curly-brace-presence": [
      "error",
      { "props": "always", "children": "never" }
    ]
  },
  "ignorePatterns": ["*.json"]
}
