{
  "env": {
    "browser": true,
    "commonjs": true
  },
  "extends": [
    "prettier",
    "eslint-config-problems",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "react", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "no-extra-parens": "off",
    "react/jsx-curly-brace-presence": [
      "error",
      { "props": "always", "children": "never" }
    ],
    "react/jsx-sort-props": ["error"]
  },
  "ignorePatterns": ["**/*.json", "**/.*rc"]
}
