{
  "env": {
    "browser": true,
    "commonjs": true
  },
  "extends": ["prettier", "eslint-config-problems"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "ignorePatterns": ["*.json"]
}
